.checkoutProduct{
    display: flex;
    margin: 20px;
   background-color: rgb(245, 245, 244);
   padding: 10px;
}

.checkoutProduct:hover{
    border-radius: 10px;
box-shadow: rgb(84 89 94 / 40%) 0px 24px 34px 0px;
}
.checkoutProduct__image{
    width: 200px;
    height:fit-content;
    margin-right: 20px;
}
.checkoutProduct__title{
    font-weight: 800;
    font-size: 18px;
}
.checkoutProduct__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.checkoutProduct__info button{
   align-self: flex-end;
   width: 150px;
   background-color: #ffa41c;
   border:initial;
   margin-top: 10px;
   color: #111;
   border-radius: 19px;
   cursor: pointer;
   padding: 10px;
}
@media(max-width:768px){
    .checkoutProduct{
        flex-direction: column;
    }
    .checkoutProduct__info button{
        margin: 10px auto;
    }
    .checkoutProduct__image{
        margin: 10px auto;
    }
}