.product{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.959);
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    width: 100%;
    
    min-width: 100px;
}
.product:hover{
    border-radius: 10px;
box-shadow: rgb(84 89 94 / 40%) 0px 24px 34px 0px;
}


.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    transition: transform .4s;
}
.product > img:hover{
    transform: scale(1.2);
}
.product__price{
    margin-top: 5px;
}
.product__info{
    display: flex;
    flex-direction: column;
    height:120px;
    margin: 15px;
}
.product > button{
    width: 150px;
    background-color: #ffd814;
    border:initial;
    margin-top: 10px;
    color: #111;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
}